@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *; 
@use 'sass:color'; 

// Usa @forward para re-exportar o @use para cargar estilos de componentes
@use 'layout';
@use 'sidebar';
@use 'topbar';
@use 'statcard';
@use 'resourcecard';
@use 'addsection';
@use 'scanprogress';
@use 'riskchart';
@use 'team';
@use 'issuestable'; // Añadir el nuevo archivo

// Dashboard page specific styles

.dashboard {
  &__two-column-layout {
    display: flex;
    gap: $spacing-6;
    
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  
  &__column-left {
    flex: 3; // Aproximadamente 60% del espacio
    display: flex;
    flex-direction: column;
    gap: $spacing-6;
  }
  
  &__column-right {
    flex: 2; // Aproximadamente 40% del espacio
    display: flex;
    flex-direction: column;
    gap: $spacing-6;
  }

  &__container {
    margin-bottom: 0; // Eliminamos el margen inferior previo
  }

  &__header {
    display: flex;
    margin-bottom: $spacing-6;
    
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__issues {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $spacing-4;
    
    @media (max-width: 1280px) {
      flex-wrap: wrap;
    }
    
    @media (max-width: 1024px) {
      margin-left: 0;
      margin-top: $spacing-4;
      justify-content: space-between;
    }
    
    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
  
  &__chart-section, 
  &__scan-section {
    height: auto;
  }

  &__resource-cards {
    margin-bottom: 0; // Eliminamos el margen inferior previo
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-6;
    
    &--resources {
      grid-template-columns: repeat(2, 1fr);
      
      @media (max-width: 1200px) and (min-width: 1025px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    &--half {
      @include grid(2, $spacing-6); // Usa el mixin directamente
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);

      &--resources {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;

      &--resources {
        grid-template-columns: 1fr;
      }

      &--half {
        grid-template-columns: 1fr;
      }
    }
  }
}
.dashboard__container__resources {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-6;
  
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}