.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.step {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e5e7eb;
  position: relative;
}

.step.active {
  background-color: white;
  border: 2px solid $color-red-500;
}

.step.completed {
  background-color: $color-red-500;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #e5e7eb;
}

.line.completed {
  background-color: $color-red-500;
}